<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <legend>Sign up</legend>
    <div class="clearfix">
      <%= f.label :email %>
      <div class="input">
        <%= f.email_field :email, :class => "xlarge" %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :password %>
      <div class="input">
        <%= f.password_field :password, :class => "xlarge" %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :password_confirmation %>
      <div class="input">
        <%= f.password_field :password_confirmation, :class => "xlarge" %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :first_name %>
      <div class="input">
        <%= f.text_field :first_name, :class => "xlarge" %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :last_name %>
      <div class="input">
        <%= f.text_field :last_name, :class => "xlarge" %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :date_of_birth %>
      <div class="input">
        <%= f.date_select :date_of_birth, :start_year => 1900, :class => "xlarge" %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :country %>
      <div class="input">
        <%= f.text_field :country, :class => "xlarge" %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :region %>
      <div class="input">
        <%= f.text_field :region, :class => "xlarge" %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :city %>
      <div class="input">
        <%= f.text_field :city, :class => "xlarge" %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :nationality %>
      <div class="input">
        <%= f.text_field :nationality, :class => "xlarge" %>
      </div>
    </div>

    <div class="actions">
      <button type="submit" class="btn primary">Sign up</button>
    </div>
  </fieldset>
<% end %>

<%= render :partial => "devise/shared/links" %>
