#main-image
  #main-image-text
    %h1{:style => "margin:0px;"} Inpire Others.
    %h1{:style => "margin:0px;"} Change Lives.
    %h1{:style => "margin:0px;"} Be a Volunteer today.
    %p
      iVolunteer aims to gather volunteers from all over the Philippines to
      helpout others who are in need. Volunteers can choose the activities they
      want to participate in.
    %a{:href => new_user_registration_path}
      %img{:border => "none", :src => "/assets/btn-register.gif"}/
#opportunities
  %h1.toleft Volunteer Opportunities
  %h2.orange.toright
    %a{:href => "opportunities.html"} See All Opportunities >
  .clear
  %hr/
  #opp-filter
    %span.section
      %h4 Find Projects by Location
      %select{:style => "width:180px;"}
        %option{:selected => "selected", :value => "manila"} Metro Manila
    %span.section
      %h4 Find Projects by Category
      %select{:id => "event_category", :style => "width:200px;", :onchange => "select_category()"}
        %option{:value => "all"} All
        - @categories.each do |category|
          %option{:value => "#{category.name}"} #{category.name}
    %span.section
      %h4 Popular Categories
      - @popular_categories.each do |category|
        = link_to "#{category.name} (#{category.events_count})", root_path(:category => category.name)
  %ul#opp-items
    - @events.each do |event|
      %li.opp-featured
        = image_tag event.image.url(:small), :class => "opp-feat-image"
        %h2.opp-feat-title= truncate(event.title, :length => 25)
        = image_tag("feat-line.gif")
        %span.opp-feat-type= event.category.name if event.category
        %p.opp-feat-date= date_text(event)
        %p.opp-feat-number= "#{pluralize(event.volunteers_needed, "Volunteer")} needed"
        = link_to(image_tag("btn-learnmore.gif", :border => "none"), organization_event_url(event.organization, event))
  .clear
  / opp-items
/ opportunities

#news
  %h1.toleft Volunteers in Action
  %h2.orange.toright
    %a{:href => "opportunities.html"} See All News >
  .clear
  %hr/
  .news-list
    = image_tag "/assets/news-img-1.jpg", :class => "news-image"
    %span.news-desc
      %h4 Orphanage Visit
      Make a child happy for one day by being an ATE or KUYA. The orphanage visit last July 20
      has been an astounding success. A total of 120 ate's and kuya's signed up for the event,
      and each one brought their own energy and...
      %span.readmore
        = link_to "Read More >", ""
  .clear
  .news-list
    = image_tag "/assets/news-img-1.jpg", :class => "news-image"
    %span.news-desc
      %h4 Orphanage Visit
      Make a child happy for one day by being an ATE or KUYA. The orphanage visit last July 20
      has been an astounding success. A total of 120 ate's and kuya's signed up for the event,
      and each one brought their own energy and...
      %span.readmore
        = link_to "Read More >", ""
  .clear

#featured-org
  %h1.toleft Featured Organization
  .clear
  %hr/
  %center
    = image_tag "/assets/featured-org.jpg"
  %br/
  %b Computer Literacy Advcates for the Youth
  %br/
  CLAY aims to spread computer literacy among the less-privileged youth by holding computer classes...
  %span.readmore
    %a{:href => ""} Read More >
.clear
