<%= form_for [@organization, @event] do |f| %>
  <fieldset>
    <legend>Create new event</legend>
  <div class="clearfix">
  <%= f.label "Title" %>
  <div class="input">
    <%= f.text_field :title, :class => "xlarge" %>
</div>
  </div> <!-- /clearfix -->
  <div class="clearfix">
  <%= f.label "Description" %>
  <div class="input">
    <%= f.text_area :description, :rows => 5, :class => "xxlarge" %>
  </div>
  </div> <!-- /clearfix -->
  <div class="actions">
    <button type="submit" class="btn primary">Create event</button>&nbsp;<%= link_to "Cancel", admin_organization_url(@organization), :class => "btn" %>
  </div>

  <%# f.submit %>
  </fieldset>
<% end %>

