%h1 Opportunity
%hr/
.event-detail
  .event-highlight
    .event-image= image_tag @event.image.url(:medium)
    .event-short
      %h1= @event.title
      %table
        %tr
          %td{:valign => "top"}
            %label Where:
          %td{:valign => "top"}
            = @event.address
            %br/
            %br/
        %tr
          %td{:valign => "top"}
            %label When:
          %td{:valign => "top"}
            = date_text(@event)
            %br/
            %br/
        %tr
          %td{:valign => "top"}
            %label Organization:
          %td{:valign => "top"}= link_to @event.organization.name
    / event-short
    .clear
  / event-highlight
  .event-time
    %h1 Volunteer Now
    %label Time Left to Volunteer
    %center
      %table
        %tr
          %td{:align => "center", :width => "50"}
            .count>= @days_left
            = pluralize_time(@days_left, "day")
          %td :
          %td{:align => "center", :width => "50"}
            .count>= @hours_left
            = pluralize_time(@hours_left, "hour")
          %td :
          %td{:align => "center", :width => "50"}
            .count>= @minutes_left
            = pluralize_time(@minutes_left, "min.", "mins.")
      %table.vol
        %tr
          %td{:align => "center", :width => "80"}
            .number>= @event.volunteers.size
            volunteered
          %td{:align => "center", :width => "80"}
            .number>= @event.volunteers_still_needed
            still needed
      - if user_signed_in? && current_user.volunteered?(@event)
        = image_tag("already-joined.gif")
      - else
        = link_to(image_tag("btn-join.gif"), volunteer_organization_event_url(@event.organization, @event), :rel => "volunteer-event", :disabled => @event.volunteers_still_needed == 0)
  .clear
  %h2 Event Details
  %hr/
  %img{:align => "right", :src => @event.image.url(:medium), :style => "margin-left: 40px;"}/
  = @event.description.html_safe
  People who volunteered (#{@event.volunteers.size})
  %ul
    - @event.volunteers.each do |user|
      %li= user.email
/ event-detail
.clear
