<h1>Opportunity</h1>
<hr />
<div class="event-detail">
  <div class="event-highlight">
    <div class="event-image"><%= image_tag @event.image.url(:medium) %></div>
    <div class="event-short">
      <h1><%= @event.title %></h1>
      <table>
        <tr>
          <td valign="top"><label>Who:</label></td>
          <td valign="top">Who<br /><br /></td>
        </tr>
        <tr>
          <td valign="top"><label>Where:</label></td>
          <td valign="top"><%= @event.address %><br /><br /></td>
        </tr>
        <tr>
          <td valign="top"><label>When:</label></td>
          <td valign="top"><%= date_text(@event) %><br /><br /></td>
        </tr>
        <tr>
          <td valign="top"><label>How:</label></td>
          <td valign="top">How<br /><br /></td>
        </tr>
        <tr>
          <td valign="top"><label>By:</label></td>
          <td valign="top"><%= link_to @event.organization.name %></td>
        </tr>
      </table>
    </div><!--event-short-->
    <div class="clear"></div>
  </div><!--event-highlight-->

  <div class="event-time">
    <h1>Volunteer Now</h1>
    <label>Time Left to Volunteer</label>
    <center>
      <table>
        <tr>
          <td align="center" width="50"><div class="count">4</div>days</td>
          <td>:</td>
          <td align="center" width="50"><div class="count">20</div>hours</td>
          <td>:</td>
          <td align="center" width="50"><div class="count">37</div>mins.</td>
        </tr>
      </table>

      <table class="vol">
        <tr>
          <td align="center" width="80"><div class="number"><%= @event.volunteers.size %></div>volunteered</td>
          <td align="center" width="80"><div class="number">99</div>still needed</td>
        </tr>
      </table>

      <% if user_signed_in? && current_user.volunteered?(@event) %>
      <img src="/assets/btn-join.gif" border="none" />
      <% else %>
      <%= link_to(image_tag("btn-join.gif"), volunteer_organization_event_url(@event.organization, @event), :rel => "volunteer-event") %>
      <% end %>

    </center>
  </div>

  <div class="clear"></div>

  <h2>Event Details</h2>
  <hr />

  <img src="<%= @event.image.url(:medium) %>" align="right" style="margin-left: 40px;" />
  <%= @event.description %>
  <% if user_signed_in? && current_user.volunteered?(@event) %>
    <p>You volunteered for this event.</p>
  <% else %>
    <p>Click <%= link_to "here", volunteer_organization_event_url(@event.organization, @event) %> to volunteer.</p>
  <% end %>

  People who volunteered (<%= @event.volunteers.size %>)
  <ul>
    <% @event.volunteers.each do |user| %>
      <li><%= user.email%></li>
    <% end %>
  </ul>

</div><!--event-detail-->

<div id="event-comments">
  <h1>Event Comments</h1>
  <hr />
  <p>Facebook commenting here</p>
</div>

<div id="related-events">
  <h1>Related Events</h1>
  <hr />
  <div class="opp-featured">
    <div class="opp-feat-image"><%= image_tag @event.image.url(:small) %></div>
    <div class="opp-feat-title"><h2>Feed a Child Project</h2></div>
    <img src="images/feat-line.gif" />
    <div class="opp-feat-type">Children &amp; Youth</div>
    <div class="opp-feat-date">June 1, 2011 - Aug. 31, 2011</div>
    <div class="opp-feat-number">28 Volunteers needed</div>
    <a href=""><img src="images/btn-learnmore.gif" border="none" /></a>
  </div>
  <div class="opp-featured">
    <div class="opp-feat-image"><%= image_tag @event.image.url(:small) %></div>
    <div class="opp-feat-title"><h2>Feed a Child Project</h2></div>
    <img src="images/feat-line.gif" />
    <div class="opp-feat-type">Children &amp; Youth</div>
    <div class="opp-feat-date">June 1, 2011 - Aug. 31, 2011</div>
    <div class="opp-feat-number">28 Volunteers needed</div>
    <a href=""><img src="images/btn-learnmore.gif" border="none" /></a>
  </div>
</div>
