%h1 Terms and Conditions
%hr/
.policies
  %h2 INTRODUCTION
  %h2 A. Mission and Purpose
  %p
    Welcome to IVolunteer.com.ph ("Site"), a website provided to you by
    IVolunteer ("IVolunteer," "we," "us," and "our"). IVolunteer.com.ph is an
    interactive site, social network, and community for people and organizations
    dedicated to making nation-building a part of every Filipino's life through
    volunteerism.
  %p
    We welcome individuals and eligible organizations ("Users," "you," "your")
    that in some way want to help make nation-building a part of every Filipino's
    life through volunteerism.
  %h2 B. Scope and Intent
  %p
    These Terms and Conditions of Service ("Terms and Conditions") govern your
    use of the Site and its Services. You should carefully read the Terms and
    Conditions before using the Site or its Services. You should also regularly
    review these Terms and Conditions as we may change them from time to time.
    You can review the most current version of the Terms and Conditions at any
    time through the link at the bottom of any page of this Site or at
    %a{:href => "/terms-and-conditions"}
      www.iVolunteer.com.ph/terms-and-conditions.
  %h2 C. Services Eligibility
  %p
    By registering on iVolunteer to become a member or by accessing the Site
    or any of its Services, you agree that:
    %ul
      %li
        if you are an individual under 13 years old, you have so indicated
        during registration and you have obtained the consent of your parent or
        legal guardian to join the Site.
      %li
        if you are an organization, you are a nonprofit or community
        organization, a social enterprise, or a government agency (other than a
        military or intelligence agency).
      %li
        all site users, whether representing themselves as an individual or
        an organization, must agree not to engage in violence, illegal activity,
        discrimination, or hate.
  %p
    By accessing the Site or any of its Services, regardless of whether you
    register on iVolunteer as a member, you agree to enter into a legally binding
    agreement with iVolunteer to comply with these Terms and Conditions and our
    %a{:href => "/privacy-policy"} Privacy Policy
    (the "Agreement"). If you do not agree with these Terms and
    Conditions or our
    = succeed "," do
      %a{:href => "/privacy-policy"} Privacy Policy
    you should not use, register for, access,
    or view the Site or any of its Services.
  %h2 D. Services Offered
  %p
    iVolunteer offers a collection of services on or through this Site to help
    connect people and organizations around the Philippines (the "Services").
    These Services include, without limitation:
  %p
    %span.policies-subtitle iVolunteer's Organization Database.
    The Organization Database contains information about (i) nonprofit organizations,
    community groups, social enterprises and government agencies from around the
    Philippines; and (ii) volunteer opportunities, events and other listings from
    the Philippines.
  %p
    If you are the administrator of an organization, you can submit volunteer
    opportunities, events, or other information that can be posted on the Site
    and stored in the Organization Database. When posting an event, you will be
    able to set RSVP preferences for that event.
  %p
    Anyone can search and access the Organization Database for information
    about member organizations and listings. Searches can be narrowed or expanded
    by adding and removing search terms, and/or by clicking on field values
    suggested by our system. More specific search query terms can be included to
    conduct more advanced searches. At any point in a search, a particular set of
    search terms can be saved for later reuse.
  %p
    %span.policies-subtitle iVolunteer's Individual Database.
    The Individual Database contains information voluntarily submitted by
    individual Users that includes (i) personal information; (ii) interests and
    preferences; (iii) skills of the individuals; (iv) schedules and locations of
    the individuals; and (v) other relevant information.
  %p
    If you are an individual, you may create and submit a user profile to be
    stored in the Individual Database and to show your personal and professional
    relationships to other Users.
  %p
    Anyone can search and access the Individual Database to find people based
    on name, location, and other keywords. This allows people and organizations
    to find individuals who are specifically looking for jobs, volunteer
    opportunities, friends/collaborators, or clients.
  %p
    As described in the
    = succeed "," do
      %a{:href => "/privacy-policy"} Privacy Policy
    we offer preference settings for you
    to control the visibility of most of your information so that only Users you
    approve will have access to your information through such searches.
  %p
    %span.policies-subtitle Other Connecting Services.
    The two
    databases can match and connect interested individuals with organizations in
    accordance with the information submitted by each. Individual Users can set
    their preferences to receive and customize email alerts with information
    about volunteer opportunities, events, resources or other postings by
    organizations or individuals on this Site.
  %p
    You can also bookmark listings; choose to receive occasional updates about
    iVolunteer events and services, and other notifications; use the Message
    Center to send, reply, delete, and view messages to/from other iVolunteer
    members; and read and write comments on organizations' pages (assuming the
    organizations' administrators have enabled comments).
  %h2 II. YOUR RIGHTS AND OBLIGATIONS
  %p
    iVolunteer.com.ph is an interactive site provided for the benefit of the
    world-at-large, connecting people to turn good intentions into action. However,
    as in most community forums, progress only occurs if everyone cooperates and
    abides by the rules. These Terms and Conditions define the obligations that
    you agree to adopt in exchange for the right to use our Site and Services.
  %h2 A. Applicable Laws and this Agreement
  %p
    You agree to comply with all applicable laws, these Terms and Conditions,
    and our
    = succeed "." do
      %a{:href => "/privacy-policy"} Privacy Policy
  %h2 B. Content and Ownership
  %p
    As a social network, the majority of the content made available by
    iVolunteer is generated and posted by Users of the Site. Our mission is to
    provide a safe space on the web so that no opportunity for action or
    collaboration is wasted and no connection is missed. However, we consider it
    to be the responsibility of all Users of the Site to help make the web a safe
    and trusted place.
  %p
    Therefore, each User owns and is responsible for the content that s/he
    posts on our Site, including information that s/he publishes and makes
    available for other Users to view.
  %p
    %span.policies-subtitle Representations and Warranties.
    By
    posting content on our Site, you represent and warrant that:
    %ul
      %li You are entitled to submit the content;
      %li The information is accurate;
      %li The information is not confidential;
      %li
        The posting of the information is not in violation of any applicable
        laws, contractual restrictions or other third party rights.
  %p
    It is solely your responsibility to ensure the accuracy of your profile and
    submitted content and to update that information as appropriate.
  %p
    %span.policies-subtitle License and Use of Content.
    All of
    the information that you publish on the Site reaches thousands of registered
    Users both through the Site and via email alerts. This information may also
    be accessed by individuals not registered on the Site when, for example, they
    receive information forwarded to them by someone else or if you make such
    information visible to all Internet users.
  %p
    In order for you to share your information with others, iVolunteer needs
    your permission to reproduce your information on or through this Site.
    Therefore, under these Terms and Conditions, by submitting, posting or
    displaying any content to or on this Site, you agree to grant iVolunteer a
    non-exclusive, worldwide, assignable, sub-licensable, and royalty-free right
    that permits us to copy, distribute, publish, remove, retain, and use your
    content or information without any further consent, notice or compensation
    for the sole purpose of enabling iVolunteer to provide you with its Services
    in accordance with its
    = succeed "." do
      %a{:href => "/privacy-policy"} Privacy Policy
  %p
    Additionally, with the objective of reaching more people and facilitating
    connections, you hereby grant iVolunteer the right to share published
    information from our Sites with other sites with which we have partnerships.
    Information published on our Site may become public information at the time
    of its distribution on other sites, via email alerts, RSS feeds, search
    engines, and other social media tools.
  %p
    Furthermore, by submitting or posting content on the Site, you agree to
    provide other users with a Creative Commons Attribution Non-Commercial
    No-Derivatives 3.0 License governing such content, which is incorporated by
    reference herein and can be read in full at
    %a{:href => "http://creativecommons.org/licenses/by-nc-nd/3.0/legalcode"}
      http://creativecommons.org/licenses/by-nc-nd/3.0/legalcode.
    You also agree
    to comply with the terms of this license when using other Users' content. This
    license permits Users to download and share content from this Site, provided
    that they properly attribute the work to the author, do not alter it in any
    way, and do not copy or use the work for commercial purposes. Finally,
    iVolunteer will grant Users the same Creative Commons Non-Commercial
    No-Derivatives 3.0 license to use any content it may own and that is available
    on the Site, provided such use is consistent with other provisions of these
    Terms and Conditions.
  %p
    %span.policies-subtitle
      User-to-User Communication and Sharing.
    The Site includes various forums and blogs where you can post your
    observations and comments on designated topics. iVolunteer cannot guarantee
    that other Users will not use the ideas and information that you share.
    Therefore, if you have an idea or information that you would like to keep
    confidential and/or do not want others to use, do not post it on the Site.
  %p
    %b
      iVolunteer is not responsible for a User's misuse or misappropriation
      of any content or information that you post in any forums, blogs, and other
      sections of the Site.
  %p
    %span.policies-subtitle Content Removal.
    Every day,
    thousands of individuals, groups, and organizations post information to
    iVolunteer about their activities, opportunities, interests, and more. For
    the most part, this content is published in accordance with our Terms and
    Conditions and
    = succeed "." do
      %a{:href => "/privacy-policy"} Privacy Policy
  %p
    Our reporting system allows registered users to report posted content that
    violates iVolunteer's Mission and Purpose and/or Terms and Conditions. To
    ensure the quality and appropriateness of our site content, iVolunteer reserves
    the right to remove any content for any reason, including violations of these
    Terms and Conditions, this Agreement, or any applicable laws (including laws
    protecting the safety of others, intellectual property laws, and employment
    laws).
  %p
    Our staff receives a notice each time content is reported or "flagged"
    and that content may be immediately removed from the website. We then
    determine whether the reported content does in fact violate our Mission and
    Purpose and/or our Terms and Conditions, and will take appropriate action to
    resolve the issue, the nature of such action depending on the particular
    circumstances at issue. Users who feel that their content has been removed
    in error may contact us here. Under certain conditions, we may, at our
    discretion (but under no obligation), restore deleted material, or contact
    the offending user to request changes, amendments, or deletion of their
    "flagged" content.
  %p
    You may request that iVolunteer delete any information or content that you
    have provided on the Site. However, iVolunteer has no control over your shared
    information. Therefore, iVolunteer is unable to delete any information you have
    shared with others that they have subsequently copied or stored (see
    = succeed ")." do
      %span.policies-subtitle User-to-User Communication and Sharing
  %h2 C. Do!
  %p
    As a condition to access and use the Site and Services of iVolunteer, you
    agree to undertake the following:
    %ul
      %li
        comply with all applicable laws, including without limitation,
        privacy laws, employment laws, intellectual property laws, export control
        laws, tax laws, and regulatory requirements;
      %li provide accurate information to us and update it as necessary;
      %li
        review and comply with our
        = succeed ";" do
          %a{:href => "/privacy-policy"} Privacy Policy
      %li review and comply with these Terms and Conditions;
      %li
        review and comply with notices sent by iVolunteer concerning the Site
        or Services;
      %li use the Site and its Services in a professional manner; and
      %li help build a world where all people can live free and dignified lives.
  %h2 D. Don't!
  %p
    As a condition to access and use the Site and Services of iVolunteer, you
    agree not to do the following:
    %ul
      %li
        use the Site or Services for any purpose or in any manner that violates
        any local, state or federal law or regulation or that violates the law or
        regulation of any foreign government;
      %li
        submit, upload, post, email, or otherwise transmit any content that is
        illegal, harmful, threatening, abusive, harassing, tortious, defamatory,
        vulgar, obscene, libelous, pornographic, sexually explicit, invasive of
        another's privacy, hateful, and/or racially, ethnically, or otherwise
        offensive;
      %li
        submit, upload, post, email, or otherwise transmit any unsolicited or
        unauthorized advertising or promotional materials, including without
        limitation, initiation or perpetuation of any "Spam," "Junk Mail," or
        any other potentially objectionable form of unsolicited communication;
      %li
        submit, upload, post, email, or otherwise transmit any content that
        infringes any patent, trademark, trade secret, copyright, or other
        intellectual property right, privacy right, or publicity right of any
        person or entity;
      %li
        submit, upload, post, email, or otherwise transmit without authorization
        any material that contains personal or private information concerning any
        third party person or entity, including without limitation, phone number(s)
        or addresses, credit/debit cards, calling cards, account numbers, Social
        Security numbers, passwords, or other similar information;
      %li
        submit, upload, post, email, or otherwise transmit any material that
        contains software viruses or any other code, files or programs designed or
        known to disable, interrupt or limit the functionality of any computer
        hardware, computer software or telecommunications equipment or facilities;
      %li
        use any kind of automated tool, including but not limited to scripts,
        bots and other software, to try to collect information from the Site or to
        break into any of its servers; or
      %li
        disrupt or interfere (either directly or indirectly, intentionally or
        unintentionally) with the Site or Services in any manner that may materially
        adversely affect iVolunteer, you or any third party;
      %li
        collect or store personal data with respect to third parties, except as
        contemplated by the Terms and Conditions, and then only for the express
        purpose of providing lawful communication that may reasonably be
        anticipated by such third parties;
      %li
        post jobs, volunteer opportunities, internships, or other opportunities
        that do not provide equal access to individuals or groups, or use
        exclusionary language on the basis of race, origin, nationality, religion,
        language, gender, age, sexual orientation, marital status, or physical or
        mental ability, unless the requirement is a bona fide or essential
        qualification of the position or opportunity;
      %li
        impersonate another person or entity, including without limitation,
        a representative of iVolunteer or its officers, directors, employees or
        agents; falsely represent or misrepresent your affiliation with another
        person or entity; or forge headers or otherwise manipulate identifiers
        that would disguise the origin of any content transmitted through the
        Site or Services;
      %li
        attribute any political content, advertisement or endorsement favoring
        a political party, political organization or political candidate to
        iVolunteer or any of its officers, employees, volunteers, or directors.
  %h2 E. Registration and Security
  %p
    To use certain Services, you must register with the Site and provide certain
    personal information. You must also establish a password. You agree that you
    will be responsible for maintaining your password as confidential and for any
    activity that occurs as a result of your enabling or permitting another person
    or entity to use your password. It is your responsibility to notify iVolunteer
    (by one of the methods listed in Section IX) in the event that (i) your password
    is lost or stolen, or (ii) you become aware of any unauthorized use of your
    password or of any other breach of security that might affect the Site or its
    Services. iVolunteer is not responsible for any loss or damage arising from
    your failure to comply with the provisions of this section.
  %h2 F. Privacy
  %p
    You should carefully review our full
    = succeed "," do
      %a{:href => "/privacy-policy"} Privacy Policy
    which is incorporated
    by reference herein, before deciding whether to become a User. The Privacy
    Policy lays out in detail our policy regarding the use and storage of your
    information. By using the Site, you agree to the terms and practices of the
    = succeed "." do
      %a{:href => "/privacy-policy"} Privacy Policy
    You also acknowledge that any submission of personal
    information, data, photos, statements, or other content is done so
    voluntarily.
  %h2 G. Indemnification
  %p
    You agree to hold harmless and indemnify iVolunteer and its affiliates,
    officers, directors, and employees from and against any and all third party
    claims, demands, proceedings and any losses, liabilities, damages, costs,
    payments and expenses, including reasonable attorneys’ fees, costs and
    expenses arising out of, directly or indirectly, your use of the Site or
    Services including, without limitation (a) any content therein, and (b)
    any use of the Site or Services that violates the Terms and Conditions.
  %h2 H. Notify Us of Acts Contrary to this Agreement
  %p
    If you believe that you are entitled or obligated to act contrary to this
    Agreement under any mandatory law, you hereby agree to contact us using one of
    the methods listed in Section IX and to provide us with a comprehensive
    written explanation of your reasons for your belief. This explanation must
    be provided at least 30 days before you act contrary to this Agreement.
    Although we are not obligated to do so, we may consider alternative solutions
    to the situation.
  %h2 I. No Resale of Services
  %p
    You agree to use the Services solely to accommodate your own needs and not
    to offer the Services to any third party. You may not use or exploit any
    portion of the Site or Services to provide any commercial services to third
    parties.
  %h2 J. Right to the Site and Services
  %p
    In compliance with the Terms and Conditions of this Agreement and all
    applicable laws, iVolunteer grants you a limited, revocable, nonexclusive,
    and nonassignable right to access and view the information and use the Services
    that we provide on our Site.
  %p
    Any other use of iVolunteer.com.ph contrary to our Mission and Purpose is
    strictly prohibited and a violation of this Agreement. iVolunteer reserves
    all rights not expressly granted in this Agreement, including (but not limited
    to) title, ownership, intellectual property rights, and all other rights and
    interest in iVolunteer.com.ph and all related items.
  %h2 III. OUR RIGHTS AND OBLIGATIONS
  %h2 A. Services Availability
  %p
    For as long as iVolunteer provides this Site and its Services, it shall
    seek to update, improve and expand the Site and its Services. iVolunteer
    reserves the right to add to or change the Site and Services offered, including
    any terms, conditions, and fees associated with the Site and Services; it also
    reserves the right to cease to offer any or all of the Site and Services at any
    time. All of these changes shall be effective upon their posting on our Site or
    by direct communication to you, unless otherwise noted. As a condition of using
    the Site and Services, you agree that iVolunteer will not be responsible for any
    loss of your content or other liability if the Site or any of its Services are
    modified or discontinued.
  %p
    iVolunteer also reserves the right to withhold, remove and/or discard any
    content available as part of your account, with or without notice, if deemed
    by iVolunteer to be contrary to this Agreement. We have no obligation to store,
    maintain or provide you with a copy of any content that you or other Users
    provided when using the Site or its Services.
  %h2 B. Third Party Links
  %p
    The Site may include links to other Internet websites. You acknowledge and
    agree that such links are provided for your convenience and do not reflect an
    endorsement by iVolunteer of the quality, reliability, or any other
    characteristic or feature of any such linked site. iVolunteer is not responsible
    in any manner (including but not limited to any loss or injury you suffer as a
    result of using the linked site) for any matter associated with the linked site,
    including without limitation, the content provided on or through any such linked
    site or your reliance thereon.
  %p
    %b
      iVolunteer makes no representations or warranties with respect to any
      linked site. Your use of any linked site is solely at your own risk.
    In
    addition, you should be aware that your use of any linked site is subject to
    the terms and conditions and privacy policies applicable to that site.
  %h2 C. Disclosure of User Information
  %p
    In certain limited circumstances, iVolunteer may disclose your personal
    information if required by law or to enforce the Terms and Conditions of this
    Agreement. By using the Site, you hereby acknowledge, consent and agree that
    we may access, preserve and disclose your registration information and any
    other information that you provide for the reasons set forth in the Privacy
    Policy.
  %h2 D. Posting Volunteer Opportunities
  %p
    If you are a qualifying organization, you may post volunteer listings on
    the site.
  %p
    Job listings will stay on the Site for the duration you specify—known as
    the entitlement period—regardless of the "application deadline" you specify.
    You may "hide" and "re-publish" the listing as many times as you’d like within
    the entitlement period. You may also extend the entitlement period
    accordingly.
  %p
    Volunteer listings go up immediately after being submitted, but are subject
    to review by iVolunteer staff, and may be removed if found to be in violation
    of our Terms and Conditions or Mission and Purpose. Volunteer listings must be
    submitted via our online form by the organization or their authorized
    representative. Individual users are not permitted to post volunteer listings
    on behalf of themselves. Additionally, no listing may be posted by any
    organization that has been found to be in violation of iVolunteer’s Terms.
  %h2 E. Connections and Interactions with Other Users
  %p
    You are solely responsible for your interactions with other Users.
    iVolunteer may limit the number of connections you may have to other Users.
    iVolunteer may, in certain circumstances, prohibit you from contacting other
    Users through use of the Site or its Services or otherwise limit your use of
    the Site and its Services.
  %p
    iVolunteer reserves the right, but has no obligation, to monitor disputes
    between you and other Users and to restrict, suspend or close your account
    if iVolunteer determines, in our sole discretion, that doing so is necessary
    to enforce this Agreement. Please note that iVolunteer has no obligation to
    enforce this right.
  %h2 IV. DISCLAIMER
  %p
    The use of the Site and its Services is solely at your own risk. The Site
    and its Services are provided on an "as is" and "as available" basis.
    iVolunteer expressly disclaims all warranties of any kind with respect to
    the Site and its Services, whether expressed or implied, including implied
    warranties of merchantability, fitness for a particular purpose, and
    noninfringement.
  %p
    Some states do not allow the exclusion of implied warranties, so the above
    exclusions may not apply to you. iVolunteer makes no warranty that the Site or
    Services will meet your requirements; that they will be uninterrupted, timely,
    secure, current, accurate, complete, or error-free; or that the results that
    may be obtained by use of the Site or Services will be accurate or reliable.
    iVolunteer is not responsible for disclosing or verifying the identity of any
    Users. You understand and acknowledge that your sole and exclusive remedy with
    respect to any defect in or dissatisfaction with the Site or Services is to
    cease to use the Site or Services.
  %p
    Additionally, since some information may not be appropriate or satisfactory
    for your use, you should verify all information before relying on it. Any
    decisions made based on information contained in the Site, including
    information received through use of the Site or Services, should be used at
    your own discretion.
  %h2 V. LIMITATION OF LIABILITY
  %p
    Users who publish personal information or information regarding their
    organization on this Site understand the risks they are exposing themselves
    to by sharing their information and making it public. It is possible that some
    people or organizations that are not affiliated with our Site will take this
    information from iVolunteer.com.ph and contact you with inappropriate messages.
    iVolunteer is not responsible for damages caused by inappropriate use of the
    information published by Users. As mentioned above, we can only remove
    information from the Site or limit a User’s privileges, but we are unable to
    take action beyond this Site.
  %p
    You expressly understand and agree that iVolunteer shall not be liable for
    any direct, indirect, incidental, special, consequential, or exemplary damages,
    including without limitation, damages for loss of profits, goodwill, use, data
    loss, or other losses (even if iVolunteer has been advised of the possibility
    of such damages) resulting from: (i) the use or inability to use the Site or
    Services; (ii) any link provided in connection with the Site or Services;
    (iii) your reliance on any portion of the Site or Services; (iv) the
    interruption, suspension or termination of the Site or any Services hereunder;
    (v) the timeliness, deletion, misdelivery, or failure to post or store any
    information; and/or (vi) any matter otherwise related to your use of the Site
    or Services.
  %p
    iVolunteer is not involved in the relationship between individual members
    and organizations. If you have a dispute with another individual or organization,
    you understand that iVolunteer is not required to assist you in the dispute. You
    hereby agree to release iVolunteer from any and all claims, demands and damages
    (actual and consequential) of every kind and nature, known and unknown,
    suspected and unsuspected, disclosed and undisclosed, arising out of or in any
    way connected with any such disputes or use of the Site and its Services. You
    understand that the Site and its Services may only be used for lawful purposes.
    You assume total responsibility and risk for your use of the Site and its
    Services. It is solely your responsibility to evaluate the accuracy,
    completeness and usefulness of all information you access or obtain through
    the Site and its Services.
  %p
    We are also not responsible for the behavior of individuals or organizations
    outside of the Site, as a part of society. iVolunteer can only safeguard and
    seek to assure the good conduct of Users on the Site. Our intervention is
    limited to provide a space to publish information and thus generate connections.
  %h2 VI. TERMINATION
  %p
    %span.policies-subtitle A. Mutual Rights of Termination
    You acknowledge that iVolunteer may establish limits concerning use of the
    Service, including the maximum number of days that content will be retained by
    the Service; the maximum number and size of postings, email messages, or other
    content that may be transmitted or stored by the Service; and the frequency
    with which you may access the Service.
  %p
    iVolunteer may add to, change, delete, or terminate your use of the Site
    or Services at any time for any reason without notice to you. iVolunteer shall
    not be liable to you or to any third party for any modification, suspension or
    discontinuance of the Site or Services. iVolunteer reserves the right to refuse
    to offer the Site or Services to anyone at any time without notice.
  %p
    iVolunteer additionally reserves the right to remove accounts that have been
    inactive for a prolonged period of time. We reserve the right to modify these
    general practices and limits at any time, at our discretion, without notice.
  %p
    %span.policies-subtitle B. Misuse of the Services
    iVolunteer may restrict, suspend or terminate the account of any User who
    abuses or misuses the Site or Services. Misuse of the Site or Services includes,
    but is not limited to: abusing the iVolunteer messaging services; creating
    multiple or false profiles, including misleading representations; using the
    Site or Services commercially without iVolunteer’s permission; posting
    inappropriate or illegal content; infringing any intellectual property rights;
    or behaving in any other way that iVolunteer, in its sole discretion, deems
    contrary to its purpose.
  %p
    In addition, iVolunteer has adopted a policy of terminating accounts of Users
    who, in iVolunteer’s sole discretion, are deemed to be repeat infringers under
    the United States Copyright Laws.
  %h2 VII. GENERAL TERMS
  %p
    %span.policies-subtitle A. Severability
    If any provision of this Agreement is found by a court of competent
    jurisdiction to be illegal, void, or unenforceable, the unenforceable provision
    will be modified so as to render it enforceable and effective to the maximum
    extent possible in order to effect the intention of the provision. Further,
    the validity, legality and enforceability of the remaining provisions of this
    Agreement shall not be affected in any way and shall remain in full force and
    effect.
  %p
    %span.policies-subtitle B. Language
    Where iVolunteer has provided you with a translation of the English language
    version of the Agreement, the
    %a{:href => "/privacy-policy"} Privacy Policy
    and/or any other documentation,
    you agree that the translation is provided for your convenience only and that
    the English language versions of this Agreement, the
    = succeed "," do
      %a{:href => "/privacy-policy"} Privacy Policy
    and any
    other documentation, including additional terms of service, will govern your
    relationship with iVolunteer.
  %p
    %span.policies-subtitle C. Amendments to this Agreement
    We reserve the right to revise the Terms and Conditions of this Agreement at
    any time. Because we are constantly adding to the Site and its Services, your
    access to iVolunteer.com.ph is governed by the Terms and Conditions and
    %a{:href => "/privacy-policy"} Privacy Policy
    as they may exist and are available on any given day. If such
    changes are made, iVolunteer will post the revised Terms and Conditions on
    the Site.
  %p
    We encourage you to review this Agreement periodically. If you continue to
    use this Site after the announcement of the revised Agreement, you will be
    deemed to have agreed to the changed Terms and Conditions and/or
    = succeed "." do
      %a{:href => "/privacy-policy"} Privacy Policy
    Questions, comments, or complaints about this Agreement should be submitted to
    us by emailing
    %a{:href => "mail:contactus@ivolunteer.com.ph", :target => "_blank"}
      contactus@ivolunteer.com.ph.
  %p
    %span.policies-subtitle
      D. No Informal Waivers, Agreements or
      Representations
    Our failure to act with respect to a breach of this
    Agreement by you or others does not waive our right to act with respect to
    that breach or subsequent similar or other breaches. Except as expressly and
    specifically contemplated by the Agreement, only representations, statements,
    consents, waivers, or other acts or omissions documented in writing and
    hand-signed by a duly appointed officer of iVolunteer shall be legally binding
    on iVolunteer.
  %p
    %span.policies-subtitle E. Assignment and Delegation
    You may not assign or delegate any rights or obligations under the Agreement.
    Any purported assignment and delegation shall be ineffective. We may freely
    assign or delegate all rights and obligations under the Agreement, fully or
    partially without notice to you. We may also substitute, by way of unilateral
    novation (effective upon notice to you), iVolunteer for any third party that
    assumes our rights and obligations under this Agreement.
  %p
    %span.policies-subtitle F. Choice of Law
    You and iVolunteer agree that this Agreement and the relationship between you
    and iVolunteer will be governed by the laws of the Philippines without respect
    to its conflict of laws provisions, and that venue with respect to any dispute
    between you and iVolunteer will rest exclusively in the Philippine courts. By
    using the Site, you also agree that regardless of any statute or law to the
    contrary, any claim or cause of action arising out of or related to the Site,
    Services, or the Terms and Conditions must be filed within one year after such
    claim or cause of action arose.
  %h2 VIII. COPYRIGHT ISSUES
  %p
    All of the content and Services that are owned by iVolunteer and third
    parties is protected by the Intellectual Property Code of the Philippines,
    officially known as  and the copyright laws of other countries. Certain
    materials are used by permission of their respective owners. Any intellectual
    property on the iVolunteer website, including graphics, images, buttons, and
    text, may not be copied, reproduced, republished, uploaded, posted, transmitted,
    or distributed in any way without the prior permission of iVolunteer, except
    that such permission shall exist for those Users abiding by the terms of the
    Creative Commons Attribution Non-Commercial No-Derivatives 3.0 License.
    Modification or use of content for any other purpose is a violation of the
    rights of iVolunteer or any applicable third parties. Nothing herein shall be
    construed as conferring by implication, estoppel, or otherwise, any license or
    right under any copyright, patent, trademark, or other proprietary interest of
    iVolunteer or of third parties.
  %h2 IX. QUESTIONS AND CONCERNS
  %p
    Should you have any questions or concerns about the terms of this Agreement,
    you may contact us by emailing
    %a{:href => "mail:contactus@ivolunteer.com.ph", :target => "_blank"}
      contactus@ivolunteer.com.ph.

