<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
    <legend>Sign in</legend>
    <div class="clearfix">
      <%= f.label :email %>
      <div class="input">
        <%= f.email_field :email, :class => "xlarge" %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.label :password %>
      <div class="input">
        <%= f.password_field :password, :class => "xlarge" %>
      </div>
    </div>

  <% if devise_mapping.rememberable? -%>
    <div class="clearfix">
      <%= f.label :remember_me %>
      <div class="input">
        <%= f.check_box :remember_me %>
      </div>
    </div>
  <% end -%>

  <div class="actions">
    <button type="submit" class="btn primary">Sign in</button>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
