%h1 Organization Dashboard
%hr/
.user-dashboard
  %h2= @organization.name
  .dashboard-left
    %h4 Organization
    %ul.sidebar-links
      %li
        %a{:href => "org-dashboard.html"} Articles
      %li
        = link_to "Profile", organization_path(@organization)
      %li
        %a{:href => "org-events.html"} Events
    %h4 Contact Details
    %ul.contact-details
      %li
        %label Contact Person
        = @organization.contact_person
      %li
        %label Contact Number
        = @organization.phone_number
      %li
        = mail_to @organization.email, "Email", :encode => "hex"
      %li
        = link_to "Website", @organization.website

  / left
  .dashboard-right
    %h2 Organization Profile
    %hr/
    -#%span.blue
      -#%img{:src => "images/icon-edit.gif"}/
      -#%a{:href => ""} Edit Profile
    .double-space
      %label Address:
      = @organization.address
      %br/
      %label Country:
      = @organization.country
      %br/
      %label Categories:
      = category_list_of(@organization)
      %br/
      %label Mission Statement:
      = @organization.mission_statement
      %br/
      %label Description:
      = @organization.description
      %br/
  .clear

