!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title iVolunteer Philippines
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Francois+One", :rel => "stylesheet", :type => "text/css"}/

  %body
    #topmost
      #search
        %form#searchform{:action => "volunteersearch.php", :method => "post", :style => "margin-bottom:0px"}
          %input#searchtext{:name => "searchtext", :size => "25", :type => "text", :value => ""}/
          %input{:name => "btnSearch", :onclick => "submitSearch()", :type => "button", :value => "Search"}/
    #header
      #header-content
        #logo
          = link_to image_tag("ivolunteer-logo.gif"), root_path

        #member-area
          - if user_signed_in?
            %h2 Member's Corner
            #member-area-user
              .member-area-welcome
                Welcome,
                =link_to current_user.email, dashboard_path
              %span.blue
                %a{:href => "user-dashboard.html"} My Dashboard
                |
                %a{:href => "user-account.html"} My Account
              |
              %span.orange
                = link_to "Logout", destroy_user_session_path
          - else
            = form_for("user", :url => user_session_path) do |f|
              %h2 Member's Corner
              %span.toleft
                Email:
                %br/
                = f.text_field :email, :align => "top", :size => nil, :id => "user_email_top"
              %span.toleft.blue
                Password:
                %br/
                = f.password_field :password, :align => "top", :size => nil, :id => "user_password_top"
                %br/
                %a{:href => new_password_path("user")}
                  %small Forgot Your Password?
                |
                %a{:href => "register.html"}
                  %small Register
              %span.toleft.blue
                %br/
                %input{:align => "top", :alt => "Login", :border => "0", :src => "/assets/btn-login.gif", :type => "image"}/

    #menu
      %ul#menu-ul
        %li.selected
          %a{:href => root_path} Home
        %li
          %a{:href => "opportunities.html"} Volunteer Opportunities
        %li
          %a{:href => "calendar.html"} Calendar
        %li
          %a{:href => "organizations.html"} Organizations
        %li
          %a{:href => "about-us.html"} About iVolunteer Philippines
        %li
          %a{:href => "contact-us.html"} Contact Us
    #content
      %p.notice= notice
      = yield
      .clear
    / content
    #footer
      .center-text
        Home  |  Volunteer Opportunities  |  Calendar  |  Organizations  |  About Us  |  Contact Us
        %br/
        %br/
        Copyright ©2012 by iVolunteer.net.ph. All Rights Reserved.
