<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  </head>
  <body>
    <!-- Topbar
    ================================================== -->
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="#">Volunteer</a></h3>

          <ul>
            <% if user_signed_in? %>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle"><%= current_user.email %></a>
              <ul class="dropdown-menu">
                <% current_user.administered_organizations.each do |organization| %>
                  <li><%= link_to organization.name, admin_organization_url(organization) %></li>
                <% end %>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              </ul>
              </li>
            <% else %>
              <li><%= link_to "Sign in", new_user_session_url %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top: 40px">
      <!--div class="alert-message error">
      <a class="close" href="#">&times;</a>
      <p><strong>Oh snap!</strong> Change this and that and try again.</p>
      </div-->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>

  </body>
</html>
