!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title iVolunteer Philippines
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Francois+One", :rel => "stylesheet", :type => "text/css"}/

  %body
    #topmost
      = render :partial => "layouts/search"

    #header
      #header-content
        #logo
          = link_to image_tag("ivolunteer-logo.jpg", :border => "none"), root_path

        = render :partial => "layouts/member_area"

    = render :partial => "layouts/nav"

    #content
      - if notice
        %p.notice= notice

      = yield
      .clear

    = render :partial => "layouts/footer"
    - if production?
      = render :partial => "shared/analytics"
